html {
    background-image: linear-gradient(to bottom, rgb(255,255,255, 0.52), rgba(233, 233, 233, 0.712)),
  url(https://wallpapermemory.com/uploads/480/penguin-background-full-hd-1080p-149318.jpg);
   background-color: #353839;
   height: auto;
   z-index: 1;
   padding-top: 100px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
 }
 
 html, body { margin: 0; padding: 0; } /*RESETS CSS*/

 *, *::before, *::after {
   box-sizing: border-box;
   font-family: Gotham Rounded;
 }

 :root {
   /* --hue-neutral: 200;
   --hue-wrong: 0;
   --hue-correct: 145; */
 }

body {
  /* Default color */
  /* --hue: var(--hue-neutral); */
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0px 0px 0px;
  background-color: none;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}